.threejs-view {
	display: flex;
	width: 100%;
	height: 100%;
}

.threejs-force-graph {
	position: relative;
	flex: 1;
	width: 100%;
	height: 100%;
}

.threejs-force-graph canvas {
	display: block;
	width: 100% !important;
	height: 100% !important;
}
